.invisible{
  display: none;
}

.logo {
  width: 7vw;
  margin: 1vw;
}

.container {
  position: fixed;
  z-index: 100;
  width: 100%;
  width: -webkit-fill-available;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--fourth-color);
  justify-content: center;
  box-shadow: -1px 20px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.container a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 0.833vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container li {
  position: relative;
  margin: auto 1vw;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lenguajes {
  position: fixed;
  left: 90vw;
}

.lenguajes button {
  width: fit-content;
  background-color: transparent;
  font-size: 0.833vw;
  font-family: "Montserrat" !important;
}

.lenguajesResponsive{
  display: none;
}

.icon {
  width: 1.25vw;
  filter: invert(18%) sepia(69%) saturate(4486%) hue-rotate(314deg) brightness(101%) contrast(120%);
  margin-bottom: 1vh;
}

.container li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.05vh;
  width: 0;
  height: 4px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease-in-out;
}

.container li:hover:after {
  width: 100%;
}

.flex {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.menuIcon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.5em;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: var(--white-color);
  margin: 4px 0;
  transition: 0.4s;
}

.animatedItem {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {

  .invisible{
    display: unset;
  }

  .container{
    overflow: unset;
    height: 10vh;
    padding: 0 4%;
    width: -webkit-fill-available;
    justify-content: space-between;
  }

  .container a{
    font-size: 16px;
  }

  .logo{
    width: unset;
    height: 5vh;
  }

  .flex {
    margin: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    background-color: var(--fourth-color);
    text-align: center;
    z-index: 10;
  }

  .flex.showMenu {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50vh;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 9px 19px rgb(0 0 0 / 54%);
  }

  .menuIcon {
    display: flex;
  }

  .animatedItem {
    animation: fadeInMobile 0.5s forwards;
  }

  @keyframes fadeInMobile {
    to {
      opacity: 1;
    }
  }

  .logo.open{
    display: none;
  }

  .icon {
    width: 5vw;
    margin-bottom: 1vh;
  }

  .lenguajes {
    display: none;
  }

  .lenguajesResponsive button{
    width: fit-content;
    background-color: transparent;
    font-size: 16px;
    font-family: "Montserrat" !important;
    min-height: unset;
  }
  
}