.container {
  width: 65%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  margin: auto;
  background-color: var(--white-color);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}

.tabs button {
  flex: 1 1;
  padding: 10px;
  border-radius: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: var(--secondary-color);
  color: #f8f8f8;
  font-family: 'Montserrat' !important;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.103);
  margin-top: -50px;
}

.tabs button:hover {
  transform: scale(1);
  background-color: var(--secondary-color);
}

.activeTab {
  background-color: var(--white-color) !important;
  color: var(--secondary-color) !important;
}

.content {
  font-weight: 600;
  padding: 20px 15%;
  border-radius: 0 0 45px 45px;
}

.noMargin {
  margin: 0;
  margin-top: 1.5vh;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 15vh auto 10vh auto;
  }

  .tabs {
    display: none;
  }

  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    scroll-behavior: smooth;
  }

  .slide {
    min-width: 100%;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    box-sizing: border-box;
    height: auto; /* Allow height to adjust based on content */
  }

  .slide p {
    margin: 0;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }

  .controlButton {
    background-color: var(--secondary-color);
    color: #f8f8f8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat' !important;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .controlButton:hover {
    background-color: var(--secondary-color);
  }
}